
<h1>Stupid coaching</h1>

<p><%= @question %></p>
<p class ="italic"><%= 'You' %></p>

<div class ="active"><%= @answer %>
<p class ="italic"><%= 'Your coach' %></p></div>

<p><%= link_to "Ask a new question", ask_path %></p>
